<div class="row calendar">
    <div class=" large-10 columns">

        <table class="calendar">

            <thead>
            <tr>
                <th width="300">Mon</th>
                <th width="300">Tue</th>
                <th width="300">Wed</th>
                <th width="300">Thu</th>
                <th width="300">Fri</th>
                <th width="300">Sat</th>
                <th width="300">Sun</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="active">
                    <div>
                        <span class="event gray">9am</span>
                        <span class="event gray">10am</span>
                        <span class="event gray">11am</span>
                        <span class="event gray">12pm</span>
                        <span class="event gray">1pm</span>
                        <span class="event gray">2pm</span>
                        <span class="event gray">3pm</span>
                        <span class="event gray">4pm</span>
                    </div>
                </td>
                <td class="active">
                    <div>
                        <span class="event gray">9am</span>
                        <span class="event gray">10am</span>
                        <span class="event gray">11am</span>
                        <span class="event gray">12pm</span>
                        <span class="event gray">1pm</span>
                        <span class="event gray">2pm</span>
                        <span class="event gray">3pm</span>
                        <span class="event gray">4pm</span>
                    </div>
                </td>
                <td class="active">
                    <div>
                        <span class="event gray">9am</span>
                        <span class="event gray">10am</span>
                        <span class="event gray">11am</span>
                        <span class="event gray">12pm</span>
                        <span class="event gray">1pm</span>
                        <span class="event gray">2pm</span>
                        <span class="event gray">3pm</span>
                        <span class="event gray">4pm</span>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="event gray">9am</span>
                        <span class="event gray">10am</span>
                        <span class="event gray">11am</span>
                        <span class="event gray">12pm</span>
                        <span class="event gray">1pm</span>
                        <span class="event gray">2pm</span>
                        <span class="event gray">3pm</span>
                        <span class="event gray">4pm</span>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="event gray">9am</span>
                        <span class="event gray">10am</span>
                        <span class="event gray">11am</span>
                        <span class="event gray">12pm</span>
                        <span class="event gray">1pm</span>
                        <span class="event gray">2pm</span>
                        <span class="event gray">3pm</span>
                        <span class="event gray">4pm</span>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="event gray">9am</span>
                        <span class="event gray">10am</span>
                        <span class="event gray">11am</span>
                        <span class="event gray">12pm</span>
                        <span class="event gray">1pm</span>
                        <span class="event gray">2pm</span>
                        <span class="event gray">3pm</span>
                        <span class="event gray">4pm</span>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="event gray">9am</span>
                        <span class="event gray">10am</span>
                        <span class="event gray">11am</span>
                        <span class="event gray">12pm</span>
                        <span class="event gray">1pm</span>
                        <span class="event gray">2pm</span>
                        <span class="event gray">3pm</span>
                        <span class="event gray">4pm</span>
                    </div>
                </td>
            </tr>

            </tbody>

        </table>

    </div>
</div>